* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

header {
    margin-top: 50px;
}

#left {
    text-align: center;
    font-size: 30px;
}

#right {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 20px;
    padding-left: 50px;
}

.grid-area {
    display: grid;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;
}

.image {
    width: 85%;
}

.push {
    margin-top: 40px;
}

.container {
    position: relative;
    width: 350px;
} 

.down {
    font-size: large;
    font-weight: bold;
}

.side {
    position: absolute;
    transform: rotate(90deg);
}

.side.one {
    top: 50px;
    right: -40px;
    grid-area: one;
} 

.side.two {
    top: 80px;
    right: -30px;
}

.side.three {
    top: 25px;
    right: -15px;
}

.side.four {
    top: 35px;
    right: -23px;
}

.side.five {
    top: 66px;
    right: -18px;
}

.side.six {
    top: 28px;
    right: -18px;
}

footer {
    text-align: center;
    margin-top: 200px;
    color: #0009
}

footer span {
    text-decoration: underline;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #0009;
}

.grid-down2 {
    align-self: stretch;
}

@media only screen and (min-width: 850px ) {
        
    header {
            display: grid;
            grid-template-columns: 50% 50%;
        }

    .grid-area {
            grid-template-areas: 
            'one two three'
            'four five six';
        }
}

@media screen and (max-width: 840px) {
    
    header {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 10px;
    }

    #right {
        grid-template-columns: 60% 20%;
    }

    .image {
      min-width: 100px;
      width: 150px;
      height: 200px;
    }

    .container {
        width: 200px;
    }

    .grid-area {
        grid-template-areas: 
        'one two three'
        'four five six';
        gap: 20px;
        justify-content: center;
    }


    
}

@media only screen and (max-width: 450px) {
    
    .grid-area {
        grid-template-areas: 
        'one two'
        'three four'
        'five six';
        gap: 5px;   
    }

    body {
        width: 90%;
    }

    #left {
        text-align: left;
    }

    #right {
        grid-template-columns: 100% 0%;
    }

    .image {
        width: 150px;
        height: 200px;
        min-width: 100px;
    }

    .container {
        width: 175px;   
        text-align: center;
    }

    .side.one {
        top: 50px;
        right: -67px;
        grid-area: one;

    } 
    
    .side.two {
        top: 80px;
        right: -55px;
    }
    
    .side.three {
        top: 25px;
        right: -42px;
    }
    
    .side.four {
        top: 35px;
        right: -50px;
    }
    
    .side.five {
        top: 66px;
        right: -45px;
    }
    
    .side.six {
        top: 28px;
        right: -45px;
    }

    .grid-down1 {
        margin-top: -10px;
    }
    
    .grid-down4 {
        margin-top: 50px;
    }

    .grid-down5 {
        margin-top: -40px;
    }

    .grid-down6 {
        margin-top: 40px;
    }
}